In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,East London,ZA,2022-07-08 01:10:58,-33.0153,27.9116,59.79,68,6,5.57
1,1,Saint-Philippe,RE,2022-07-08 01:10:58,-21.3585,55.7679,64.22,82,11,11.61
2,2,Jamestown,US,2022-07-08 01:10:51,42.0970,-79.2353,67.64,67,0,5.75
3,3,Collie,AU,2022-07-08 01:10:58,-33.3667,116.1500,55.65,77,27,4.14
4,4,Kapaa,US,2022-07-08 01:10:59,22.0752,-159.3190,84.52,70,75,19.57

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

In [10]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [11]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [12]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

In [13]:
# Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
# heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
print(city_data_df)

     City_ID                       City Country                 Date      Lat  \
0          0                East London      ZA  2022-07-08 01:10:58 -33.0153
1          1             Saint-Philippe      RE  2022-07-08 01:10:58 -21.3585
2          2                  Jamestown      US  2022-07-08 01:10:51  42.0970
3          3                     Collie      AU  2022-07-08 01:10:58 -33.3667
4          4                      Kapaa      US  2022-07-08 01:10:59  22.0752
..       ...                        ...     ...                  ...      ...
568      568  Petropavlovsk-Kamchatskiy      RU  2022-07-08 01:26:25  53.0452
569      569                   Svetlaya      RU  2022-07-08 01:26:25  46.5389
570      570                    Terrace      CA  2022-07-08 01:22:49  54.5163
571      571                Grand Gaube      MU  2022-07-08 01:26:26 -20.0064
572      572               Grootfontein     NaN  2022-07-08 01:26:26 -19.5667

          Lng  Max Temp  Humidity  Cloudiness  Wind Speed
0     27.9116     59.79        68           6        5.57
1     55.7679     64.22        82          11       11.61
2    -79.2353     67.64        67           0        5.75
3    116.1500     55.65        77          27        4.14
4   -159.3190     84.52        70          75       19.57
..        ...       ...       ...         ...         ...
568  158.6483     70.39        60           0       11.18
569  138.3297     68.67        83         100       13.65
570 -128.6035     60.71        88         100       10.36
571   57.6608     70.20        83          42        3.00
572   18.1167     40.57        70           0        2.30

[573 rows x 10 columns]

In [22]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kapaa,US,2022-07-08 01:10:59,22.0752,-159.3190,84.52,70,75,19.57
5,5,Victoria,HK,2022-07-08 01:06:57,22.2855,114.1577,89.96,81,43,10.00
13,13,Hobyo,SO,2022-07-08 01:11:01,5.3505,48.5268,75.16,77,17,23.96
14,14,Poum,NC,2022-07-08 01:11:02,-20.2333,164.0167,77.40,84,1,13.47
16,16,Vaini,TO,2022-07-08 01:11:03,-21.2000,-175.2000,77.16,69,40,10.36
25,25,Leiyang,CN,2022-07-08 01:11:07,26.4024,112.8591,80.74,84,83,6.33
31,31,Bardiyah,LY,2022-07-08 01:11:10,31.7561,25.0865,76.57,81,0,14.67
36,36,Dayong,CN,2022-07-08 01:11:12,25.0209,118.2898,86.40,69,11,1.21
40,40,Vostok,RU,2022-07-08 01:11:14,46.4856,135.8833,80.67,50,100,4.63
52,52,Iralaya,HN,2022-07-08 01:12:20,15.0000,-83.2333,80.02,82,4,8.48

In [25]:
preferred_cities_df.count()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [26]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [27]:
preferred_cities_df.notnull().sum()

City_ID       195
City          195
Country       195
Date          195
Lat           195
Lng           195
Max Temp      195
Humidity      195
Cloudiness    195
Wind Speed    195
dtype: int64

In [28]:
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kapaa,US,2022-07-08 01:10:59,22.0752,-159.3190,84.52,70,75,19.57
5,5,Victoria,HK,2022-07-08 01:06:57,22.2855,114.1577,89.96,81,43,10.00
13,13,Hobyo,SO,2022-07-08 01:11:01,5.3505,48.5268,75.16,77,17,23.96
14,14,Poum,NC,2022-07-08 01:11:02,-20.2333,164.0167,77.40,84,1,13.47
16,16,Vaini,TO,2022-07-08 01:11:03,-21.2000,-175.2000,77.16,69,40,10.36
...,...,...,...,...,...,...,...,...,...,...
552,552,Chavakkad,IN,2022-07-08 01:25:19,10.5333,76.0500,77.43,88,100,16.35
553,553,Ducheng,CN,2022-07-08 01:25:20,23.2373,111.5317,82.69,85,98,5.48
558,558,Port Blair,IN,2022-07-08 01:25:22,11.6667,92.7500,82.74,79,100,12.30
561,561,Jalu,LY,2022-07-08 01:26:23,29.0331,21.5482,82.71,43,0,8.93
567,567,Pacifica,US,2022-07-08 01:23:58,37.6138,-122.4869,78.15,77,20,21.85

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
4      Kapaa      US     84.52  22.0752 -159.3190
5   Victoria      HK     89.96  22.2855  114.1577
13     Hobyo      SO     75.16   5.3505   48.5268
14      Poum      NC     77.40 -20.2333  164.0167
16     Vaini      TO     77.16 -21.2000 -175.2000
25   Leiyang      CN     80.74  26.4024  112.8591
31  Bardiyah      LY     76.57  31.7561   25.0865
36    Dayong      CN     86.40  25.0209  118.2898
40    Vostok      RU     80.67  46.4856  135.8833
52   Iralaya      HN     80.02  15.0000  -83.2333

In [30]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kapaa,US,84.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
5,Victoria,HK,89.96,22.2855,114.1577,Mini Central
13,Hobyo,SO,75.16,5.3505,48.5268,Iftin hotel hobyo
14,Poum,NC,77.40,-20.2333,164.0167,
16,Vaini,TO,77.16,-21.2000,-175.2000,Keleti Beach Resort
25,Leiyang,CN,80.74,26.4024,112.8591,Dongyang Hotel
31,Bardiyah,LY,76.57,31.7561,25.0865,بورتو بردية
36,Dayong,CN,86.40,25.0209,118.2898,Haiyue Express Hotel
40,Vostok,RU,80.67,46.4856,135.8833,
52,Iralaya,HN,80.02,15.0000,-83.2333,Iglesia morava renovada

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))